<header class="headerpart">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="logopart">
            <img src="http://lorempixel.com/100/100" alt="">
        </div>
      </div>
      <div class="col-md-6">
        <div class="scopart">
          <ul class="nav nav-pills">
            <li><a href="#">F</a></li>
            <li><a href="#">T</a></li>
            <li><a href="#">P</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>